.auth{
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: relative;
}

.auth-title{
    position: absolute; 
    width: 100%;
    animation: auth-title 5s 1 ease-in-out forwards;
}

.auth-title-text{
font-family: 'Audiowide',sans-serif;
line-height: 1.2;
animation: glow 2.5s linear infinite;
font-size: 70px;

color: white;
}

.auth-login-button{
    background: linear-gradient(to bottom,#FF9701,#FFBB00);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    border-radius: 20px;
    font-family: 'Audiowide',sans-serif;
    font-size: 30px;
    position: absolute;
    bottom: -500px;
    color: white;
    animation: auth-login 1s 1 ease-in-out 5s forwards , button-glow 2.5s linear infinite 6s;
}

@keyframes auth-title{
    0% {
        transform: scale(90%);
        opacity: 0%;
        bottom : 40%
    }
    10% {
        transform: scale(105%);
        opacity: 100%;
    }
    15% {
        transform: scale(100%);
    }
    75% {
        bottom : 40%;
    }
    100% {
        bottom : 70%;
    }

}

@keyframes auth-login{
    0% {
        opacity: 0%;
        bottom: 15%;
    }
    100% {
        opacity: 100%;
        bottom: 15%;
    }
}

@keyframes glow{
0%{
    text-shadow: 0 0 0px #FFFFFF, 0 0 0px #FFFFFF;
}
50%{
    text-shadow: 0 0 6px #FFFFFF, 0 0 12px #FFFFFF;
}
100%{
    text-shadow: 0 0 0px #FFFFFF, 0 0 0px #FFFFFF;
}
}

@keyframes button-glow{0%{
    box-shadow: 0 0 0px #ffd151, 0 0 0px #ffe7a5;
}
50%{
    box-shadow: 0 0 6px #ffd151, 0 0 12px #ffe7a5;
}
100%{
    box-shadow: 0 0 0px #ffd151, 0 0 0px #ffe7a5;
}
}